

<div class="product-content">
{{#each product}}
    <h1 class="product-name">{{productName}}</h1>
    <img src="{{imgUrl}}" alt="{{productName}}" width="100%" class="product-img">
    <div class="product-about">
        <h3>Категория: {{categoryStr}}</h3>
        <h3>Коллекция: {{collStr}}</h3>
        <h3>Количество: {{count}}</h3>
        <h2>Цена: {{price}}<span class="rub">₽</span></h2> 
    </div>
{{/each}}
</div>