{{#each product}}
    <h1>{{productName}}</h1>
    <img src="{{imgUrl}}" alt="{{productName}}" height="200px">
    <h4>Категория: {{category}}</h4>
    <h4>Коллекция: {{coll}}</h4>
    <h4>Количество: {{count}}</h4>
    <h3>Цена: {{price}}</h3>
{{/each}}