<div class="main-content">
    <div class="slider" id="slider">
        {{#each sliderProducts}}            
            <div class="slider-item"><a href="/product/{{_id}}"><img src="{{imgUrl}}" alt="{{productName}}"></a></div>
        {{/each}}
    </div>
</div>  
<div class="store-options">
    <b>Опции</b><br>
    <p>Категория:</p>
    <u>{{category}}</u>
    <p>Показать:</p>
    <u>Обувь</u>
    <u>Футболки</u>
    <u>Штаны</u>
    <u>Акссесуары</u>

</div>
<div class="store-content">
    <div class="store-text">Товары: 6654</div>
    {{#each products}}
        <div class="store-item"><a href="/product/{{_id}}"><img src="{{imgUrl}}" alt="{{productName}}"></a></div>
    {{/each}}
</div>

<script>
$('#slider').slick({
    dots: true,
    infinite: true,
    centerMode: true,
    variableWidth: true,
    slidesToShow: 4,
    slidesToScroll: 1
});

</script>
